*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 248, 255);
    padding: 14px;
}

header h1{
    color: #0f172a;
}

.container{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  flex: 1;
}

input{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

button{
  padding: 12px 20px;
  cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 241, 252);
    padding: 14px;
}

footer p{
    color: #0f172a;
}